body{
    margin: 0;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.311);
}

.container{
    background-color: white;
    border-radius: 0.2rem;
    align-items: center;
    padding: 40px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px 40px 20px ;
    justify-content: space-between;


}

.nav{
    display: flex;
    font-weight: bold;
}

.nav-list{
    padding: 20px;
}

.icon{
    margin: 10px;
}

.btn-1{
    background-color: rgba(0, 128, 0, 0.644);
    outline: none;
    border: none;
    border-radius: 0.2rem;
    padding: 10px 20px;
    cursor: pointer;
}



.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 20px;
}

.paragraph{
    width: 550px;
    text-align: center;
    padding: 5px;
}


.form{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content:center;
   
}

.span{
    color: red;
}

.green{
    color: green;
}

.input-icon{
    position: relative;
    right: 30px;
}


.stroke{
    margin-right: 25px;
    padding: 20px;
    

}

.other-buttons{
display: flex;
flex-direction: column;

}

.inner-form{
    width: 300px;
    padding: 17px;
    border-radius: 0.3rem;
    margin-bottom: 10px;
    border: 2px solid black;
}

.btn-2{
    background-color: rgba(0, 128, 0, 0.644);
    width: 335px;
    padding: 18px;
    border-radius: 0.3rem;
    margin-bottom: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}


.right-buttons{
    width: 335px;
    padding: 15px;
    border-radius: 0.3rem;
    margin-bottom: 10px;
    background-color: white;
    outline: none;
    text-align: left;
    border: 2px solid black;
    background: none;
    
    
}

.ico{
    font-size: 20px;
    width: 2rem;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 40px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

@media screen and (max-width: 1280px) {
    body{
        width: 90vh ;
    }

    .form{
        display: flex;
        flex-direction: column;
    }



    
}

@media screen and (max-width: 767px) {

    body{
        width: 80vw;
    }

    .nav-bar{
        font-size: 10px;
        padding: 8px;

    }

    .btn-1{
        padding: 3px;
    }

    .header-container{
        text-align: center;
    }

    .paragraph{
        width: 250px;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center ;
    }

    .input-icon{
        position: absolute;
        right:20%;
        padding: 15px;
    }



}